@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color: var(--dark);
}

h1 {
  font-family: "Open Sans Condensed", sans-serif;
}

/* COLORS */
:root {
  --bg: #fafbf9;
  --primary: #345429;
  --secondary: #6c6753;
  --tertiary: #cad3ae;
  --tertiary-constrast: #bec7a3;
  --light: #fff;
  --dark: #072010;
  --error: #f95;
  --disabled: #cfcfcf;
  --table-row: #eef1e3;
}

* {
  background: #fafbf9;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: Open Sans Condensed;
}
button {
  border: none;
}

a {
  text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
