/* FORM */

#add-employee-form {
  flex-direction: column;
  width: 500px;
  margin: 0 auto 2rem;
  padding: 2.5rem 5rem;
  background: var(--light);
  border-radius: 0.5rem;
  box-shadow: var(--tertiary) 0 0 5px 1px;
}

.form-data {
  display: flex;
  flex-direction: column;
}

.add-employee-ico {
  width: 2.5rem;
  display: block;
  margin: 0 auto 2.5rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.firstName {
  order: 1;
}

.lastName {
  order: 2;
}

.dateOfBirth {
  order: 3;
}

.street {
  order: 4;
}

.city {
  order: 5;
}

.zipCode {
  order: 6;
}

.state {
  order: 7;
}

.startDate {
  order: 8;
}

.department {
  order: 9;
}

.input-wrapper label {
  font-weight: 700;
  color: var(--secondary);
}

.input-wrapper input,
select {
  padding: 5px;
  border-bottom: 2px solid var(--tertiary);
  font-size: 1rem;
  border-radius: 0;
  color: var(--tertiary-contrast);
}

.input-wrapper select:focus {
  outline: none;
  border-top: none;
  background-color: var(--secondary);
  color: var(--light);
}

.input-wrapper option:hover {
  background-color: var(--secondary);
}

.add-employee-button {
  display: block;
  margin: 2rem auto 0;
  width: 30%;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: var(--tertiary);
  color: var(--light);
}

.add-employee-button:disabled,
.add-employee-button[disabled],
.add-employee-button:disabled:hover,
.add-employee-button[disabled]:hover {
  background-color: var(--disabled);
  cursor: not-allowed;
}
