/* FORM */

#add-employee-form {
  flex-direction: column;
  width: 500px;
  margin: 2rem auto;
  padding: 2.5rem 5rem;
  background: var(--light);
  border-radius: 0.5rem;
  /* box-shadow: var(--secondary) 0 0 50px 0.1px; */
  box-shadow: var(--tertiary-constrast) 0 0 50px 0.1px;
}

.form-data {
  display: flex;
  flex-direction: column;
}

.add-employee-ico {
  width: 2.5rem;
  display: block;
  margin: 0 auto 2.5rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

/* INPUTS ORDER */
.firstName {
  order: 1;
}

.lastName {
  order: 2;
}

.dateOfBirth {
  order: 3;
}

.startDate {
  order: 5;
}

.department {
  order: 6;
}

.input-wrapper label {
  font-weight: 700;
  color: var(--primary);
}

.input-wrapper input,
select {
  padding: 5px;
  border: none;
  border-bottom: 2px solid var(--tertiary);
  font-size: 1rem;
  border-radius: 0.25rem 0.25rem 0 0;
  color: var(--tertiary-contrast);
  font-weight: 100;
}

.input-wrapper select::-webkit-scrollbar {
  width: 5px;
}

.input-wrapper select::-webkit-scrollbar-thumb {
  background: var(--light);
}

.input-wrapper select:focus {
  outline: none;
  background-color: var(--secondary);
  color: var(--light);
}
.input-wrapper select:focus option:checked {
  background: var(--secondary) !important;
}

.input-wrapper option:hover {
  background-color: var(--secondary);
}

/*SUBMIT*/

.add-employee-button {
  display: block;
  margin: 2rem auto 0;
  width: 15%;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--tertiary);
  color: var(--light);
}

.add-employee-button:disabled,
.add-employee-button[disabled],
.add-employee-button:disabled:hover,
.add-employee-button[disabled]:hover {
  background-color: var(--disabled);
  cursor: not-allowed;
}
/* ADDRESS GROUP */
#addressContainer {
  position: relative;
  order: 4;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--disabled);
  /* border: 1px solid antiquewhite; */
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  background-color: var(--disabled);
  /* background-color: antiquewhite; */
}
.addressGroup {
  position: absolute;
  top: -1.25rem;
  right: -1px;
  font-weight: 100;
  padding: 0 0.5rem;
  background-color: var(--disabled);
  /* background-color: antiquewhite; */
  border-radius: 0.5rem 0.5rem 0 0;
  font-family: "Open Sans Condensed";
  color: var(--primary);
  text-align: right;
}
