/* NAVBAR */
nav {
  background: var(--light);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
}

.nav-item {
  display: inline-flex;
}
.nav-brand {
  margin-left: 1rem;
}

.nav-menu {
  width: 450px;
  justify-content: space-evenly;
}

.nav-menu-choice {
  display: inline-flex;
  align-items: center;
}

.nav-logo-design {
  width: 3rem;
}

.nav-logo-brand {
  width: 18rem;
  padding-left: 3%;
}

.nav-ico {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.nav-shadow {
  height: 1px;
  margin-top: 0;
  padding: 0;
  background-color: var(--dark);
  /* border: 0; */
}
