:root {
  --bg: #fafbf9;
  --primary: #004d10;
  --secondary: #59705e;
  --secondary-contrast: #e0d7b2;
  --tertiary: #004d10;
  --tertiary-light: #f1f1ec;
  --tertiary-constrast: #d1d1c2;
  --light: #fff;
  --dark: #072010;
  --error: rgb(188, 98, 89);
  --disabled: #cfcfcf;
  --table-row: #eef1e3;
}

.table {
  width: 90%;
  margin: auto;
}

/* HEADER */
/* FILTER OPTIONS */
.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table-header > * {
  flex: 1 1 0;
}

.table-header--entries select {
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid var(--primary);
  color: var(--primary);
  font-size: small;
}

.table-header--title {
  color: var(--tertiary-contrast);
  text-shadow: 0 0 0.5px var(--primary);
  margin-top: 0;
  margin-bottom: 0;
}
/* SEARCH BAR */
.table-header--search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.table-header--search img {
  width: 1rem;
  margin-right: 0.25rem;
}
.search-icon {
  width: 6%;
  margin-right: 2%;
}
.search {
  display: flex;
  justify-content: flex-end;
}
.input-search {
  border-radius: 5px;
}

.table-header--search input {
  margin-left: 0.5rem;
  padding: 0.25rem;
  border: 1px solid var(--primary);
  border-radius: 0.25rem;
  align-items: center;
}

/* EMPLOYEES LIST TABLE */
.table-main--list {
  margin: 2rem auto;
  border-collapse: separate;
  border-radius: 0.5rem;
  background-color: transparent;
  box-shadow: var(--tertiary-constrast) 0 0 50px 0.1px;
  width: 100%;
}
.table-main--list :nth-child(2) > * {
  font-family: "Open Sans Condensed";
}
.table-main--list thead :first-child :first-child {
  border-top-left-radius: 0.5rem;
}

.table-main--list thead :first-child :last-child {
  border-top-right-radius: 0.5rem;
}
.table-main--list th {
  padding: 5px;
  background-color: var(--primary);
  color: var(--light);
}
.table-main--list th,
.table-main--list td {
  border: 1px solid var(--light);
}
.table-main--list td {
  padding: 5px 10px;
}

.table-main--list tbody tr :first-child {
  text-align: right;
}

.table-main--list tbody tr :nth-child(4),
.table-main--list tbody tr :nth-child(7),
.table-main--list tbody tr :nth-child(8),
.table-main--list tbody tr :nth-child(9) {
  text-align: center;
}
.table-main--list tbody {
  font-weight: 100;
}

.table-main--list tbody :last-child :first-child {
  border-bottom-left-radius: 0.5rem;
}

.table-main--list tbody :last-child :last-child {
  border-bottom-right-radius: 0.5rem;
}
.table-main--list tr:nth-child(even) {
  background-color: var(--table-row);
}
.table-main--list tr:hover,
.table-main--list tr:focus {
  background-color: var(--tertiary-constrast);
}
/* TABLE NAVIGATION */
.table-navigation {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.table-nav--btn:hover {
  background-color: var(--tertiary-constrast);
  color: #072010;
}

.table-nav--btn {
  cursor: pointer;
  margin: 2px;
  padding: 5px 10px;
  color: var(--secondary-contrast);
  background-color: var(--secondary);
  border-radius: 5px;
  border: 1px solid var(--secondary);
  line-height: 1.25rem;
}

.table-nav--btn:disabled {
  background-color: var(--disabled);
  color: #072010;
}

.table-footer {
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
