#table {
  width: 90%;
  margin: auto;
}

/* HEADER */
/* FILTER OPTIONS */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > * {
  flex: 1 1 0;
}

.show-entries select {
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid var(--primary);
  color: var(--primary);
  font-size: small;
}

h3 {
  color: var(--tertiary-contrast);
  text-shadow: 0 0 0.5px var(--primary);
  margin-top: 0;
  margin-bottom: 0;
}
/* SEARCH BAR */
.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-icon {
  width: 15px;
  margin-right: 5px;
}

.search input {
  margin: 0 0.5rem;
  border: 1px solid var(--primary);
  border-radius: 5px;
  align-items: center;
}
/* EMPLOYEES LIST TABLE */
#employees {
  margin: 2rem auto;
  border-collapse: separate;
  border-radius: 0.5rem;
  background-color: transparent;
  box-shadow: var(--tertiary-constrast) 0 0 50px 0.1px;
  /* box-shadow: var(--secondary) 0 0 50px 0.1px; */
  width: 100%;
}
#employees thead :nth-child(2) > * {
  font-family: "Open Sans Condensed";
  color: var(--tertiary);
}
#employees thead :first-child :first-child {
  border-top-left-radius: 0.5rem;
}

#employees thead :first-child :last-child {
  border-top-right-radius: 0.5rem;
}
#employees th {
  padding: 5px;
  background-color: var(--primary);
  color: var(--light);
}
#employees th,
#employees td {
  border: 1px solid var(--light);
}
#employees td {
  padding: 5px 10px;
}

#employees tbody tr :first-child {
  text-align: right;
}

#employees tbody tr :nth-child(4),
#employees tbody tr :nth-child(7),
#employees tbody tr :nth-child(8),
#employees tbody tr :nth-child(9) {
  text-align: center;
}
#employees tbody {
  font-weight: 100;
}

#employees tbody :last-child :first-child {
  border-bottom-left-radius: 0.5rem;
}

#employees tbody :last-child :last-child {
  border-bottom-right-radius: 0.5rem;
}
#employees tr:nth-child(even) {
  background-color: var(--table-row);
}
#employees tr:hover,
#employees tr:focus {
  background-color: var(--tertiary);
}
/* TABLE NAVIGATION */
.table-navigation {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.table-footer > * {
  margin: 5px;
}
.table-footer--btn:hover {
  background-color: var(--tertiary-constrast);
}

.table-footer--btn {
  cursor: pointer;
  padding: 5px 10px;
  background-color: var(--tertiary);
  border-radius: 5px;
  border: 1px solid var(--primary);
  line-height: 1.25rem;
}

.table-footer--btn:disabled {
  background-color: var(--disabled);
}
